body {
    font-family: Arial, sans-serif;
    background: url('https://raw.githubusercontent.com/GSamuels5/Weather_report/darren/Static/stock-photo-sun-in-a-blue-cloudy-sky.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-app {
    text-align: center;
}

.current-weather, .hourly-forecast, .daily-forecast, .alerts {
    margin-bottom: 20px;
}

.hourly-scroll {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
}

.hour, .day {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
