<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Weather Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <body>
        <div class="vh-100 d-flex flex-column">
            <div class="px-4 py-4 d-flex">
                <div class="d-flex">
                    <input class="form-control border-primary-subtle rounded-start-4 p-2 mx-1 rounded-end-0" type="text" placeholder="search city">
                    <button class="btn btn-primary p-2 rounded-start-0 rounded-end">search</button>
                </div>
            </div>
            <div class="flex-fill d-flex">
                <div class="col-4 p-4 d-flex">
                    <div class="bg-danger rounded-2 p-3 flex-fill shadow text-white">display</div>
                </div>
                <div class="col-4 p-4 d-flex">
                    <div class="bg-danger rounded-2 p-3 flex-fill shadow text-white">display</div>
                </div>
                <div class="col-4 p-4 d-flex">
                    <div class="bg-danger rounded-2 p-3 flex-fill shadow text-white">display</div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
